.service {
  width: 90%;
  margin: 30px auto;
}
.card {
  border-radius: 10px !important;
  margin-bottom: 30px;
}
.statusBtn {
  background: #ffe3e3;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  color: #ff4545;
  margin-left: 15px;
  font-size: 14px;
}
